@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overscroll-behavior: none;
}

@supports (padding: env(safe-area-inset-bottom)) {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
